.content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.content h1{
  font-size: 5em;
}

.content h1, h2{
  text-align: center;
}

.content a{
  align-self: center;
}